//underscore indicates this is a partial that will be loaded in elsewhere

html {
  // Allows us to work with rem's in base 10
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}